html, body
{
    height: 100%;
    width: 100%;
}
body
{
	text-align:center;
	margin:0px;
	padding:0px;
	color:#FFFFFF;
	font-family:Arial, Helvetica, sans-serif;
	background-image:url(images/bg.png);
	background-color:#0F0F0F;
	background-repeat:repeat;
	font-size:11px;
	white-space:normal;
}

table
{
	font-size:11px;
}

th
{
	overflow:hidden;/* fixes IE height */
	font-size:12px;
	font-weight:normal;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

a
{
	color:#59daff;
	text-decoration:none;
	font-style:bold;
	font-weight:bold;
}

a:hover
{
	color:white;
	text-decoration:none;
	font-style: bold;
	font-weight:bold;
}

h1
{
	color:#1f91b2;
	font-weight:bold;
	font-size:12px;
	margin: 0px auto 0px auto;
	padding: 10px 10px 10px 10px;
}

h2
{
	display:inline;
	color:#1f91b2;
	font-weight:bold;
	font-size:12px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}

p
{
	color:white;
	font-size:11px;
	margin: 0px 20px 20px 20px;
	padding: 0px 0px 0px 0px;
	text-align: left;
}
img{
	border: 0px;
	display: block;
}
p img{
	float: left;
	margin: 0px auto 0px auto;
	padding: 10px 20px 8px 0px;
}
/* --- Custon Button Style --- */
button[type="button"]{
	background: transparent;
	background-image: url(images/buttonbgLeft.png);
	background-repeat:no-repeat;
	border-spacing: 0px;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color:#000000;
	height:24px;
	text-align:center;
	vertical-align: middle;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
#button{
	background-image: url(images/buttonbgRight.png);
	background-repeat:no-repeat;
	background-position:right;
	margin: 0px 0px 0px 0px;
	padding: 0px 10px 0px 10px;
}
button[type="button"]:hover{
	background-image: url(images/buttonbgLeftHover.png);
}
button[type="button"]:after{
	background-image: url(images/buttonbgRightHover.png);
}
button[type="button"]:active{
	background-image: url(images/buttonbgLeftDown.png);
}
/* --- End custom Button Style --- */ 

#main
{
	display:block;
	position:relative;
	min-height:100%;
	width:800px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	text-align:center;
	white-space:nowrap;
    border-style:none;
    border-spacing:0px;
    border-width:0px;
    border-collapse:collapse;
    overflow:visible;
}

#mainbody
{
	display:block;
	position:relative;
	background-color:#444;
	vertical-align: top;
	text-align:center;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	width:740px;
	min-height:100%;
	height:100%;
	white-space:normal;
	overflow: visible;
	/* background-color:#fff; /* For debugging */
}

#nav
{
	background-image:url(images/navbg.png);
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	height:31px;
	width:740px;
	border-spacing: 0px;
	border-collapse:collapse;
	float:left;
}
#nav img
{
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}

#title
{
	position:relative;
	background-image:url(images/titlebg.png);
	height:75px;
	width:740px;
	text-align: left;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	white-space:normal;
	text-align:left;
	vertical-align:bottom;
	display:inline;
	float:left;
}
#title img
{
	text-align:center;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}

#indicator{
	position:absolute;
	display:inline;
	text-align:left;
	width:740px;
	height:65px;
	vertical-align:bottom;
	font:Terminal;
	font-family:Terminal;
	line-height: 15px;
	margin: 0px 0px 0px 0px;
	padding: 10px 0px 0px 0px;
	top:0px;
}
#indicator img{
	display:inline;
	margin: 0px 10px 0px 10px;
	padding: 0px 0px 0px 0px;
}
#indicator p{
	display:inline;
	vertical-align:top;
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
}

#info{
	display:inline;
	position:relative;
	width:740px;
	height:75px;
	text-align:right;
	vertical-align:bottom;
	font:Terminal;
	font-family:Terminal;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	overflow:hidden;
	float:right;
}
#info p{
	position:absolute;
	display:inline;
	line-height: 1;
	text-align:right;
	vertical-align:bottom;
	margin: 0px 20px 10px 0px;
	padding: 0px 0px 0px 0px;
	bottom:0px;
	right: 0px;
}

#header
{
	float:left;
	background-image:url(images/thbg.png);
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 20px 0px 20px;
	vertical-align: middle;
	width: 700px;
	height: 35px;
	border-spacing: 0px;
	border-collapse:collapse;	
}
#header table{
	text-align: center;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
	border-spacing: 0px;
	width:100%;
	height:35px;
	float:left;
	border-collapse:collapse;
	/*border-style: solid;  /*-- for debugging */
	/*border-width: 1px;	/*-- for debugging */
}

#footer
{
	position:absolute;
	background-image:url(images/thbg.png);
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 740px;
	height: 35px;
	vertical-align:middle;
	display:block;
	bottom:0px;
}

.divider
{
	background-image:url(images/thdivide.png); 
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	height: 35px;
	width: 5px;
	border-spacing: 0px;
	border-collapse:collapse;
}
div.divider{
	background-image:url(images/thtop.png);
	overflow:hidden;/* fixes IE height */
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 740px;
	height: 2px;
}
#divider{
	background-image:url(images/thbottom.png);
	overflow:hidden;/* fixes IE height */
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 740px;
	height: 2px;
}

#news
{
	overflow-y: scroll;
	margin: 0px 0px 0px 0px;
	padding: 8px 0px 8px 0px;
	vertical-align: top;
	height: 200px;
	width: 475px;
}
#news p
{
	padding: 8px 10px 8px 10px;
	margin: 0px 10px 10px 10px;
	background-color:#333;
}
#news h1
{
	padding: 0px 0px 0px 0px;
	margin: 10px 20px 10px 20px;
	text-align: left;
}
#news div{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
/* Begin Login Box formating */
#login{
	display:block;
	clear:all;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
	text-align:center;
	border-collapse:collapse;
	border-style: none;
	border-spacing: 0px;
	border-width: 0px;
	border:none;
}
#login p{
	text-align: center;
	display:inline;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}
#login h1{
	color:inherit;
	margin: inherit;
	padding: inherit;
	text-align:center;
}
#logintable{
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
	text-align:center;
	border-collapse:collapse;
	border-style: none;
	border-spacing: 0px;
	border-width: 0px;
	border:none;
	border-right:none;
	border-bottom:none;
	border-left:none;
	border-top:none;
}
table#logintable tr td{ /* This fixed the inheritance issue. look this up in the future */
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	vertical-align: middle;
	text-align:center;
	border-spacing: 0px;
	border-collapse:collapse;
	border-style: none;
	border-width: 0px;
	border:none;
	border-right:none;
	border-bottom:none;
	border-left:none;
	border-top:none;
}
#logintable p{
	text-align:center;
}
#logintable h1{
	color:inherit;
	margin: inherit;
	padding: inherit;
	text-align:center;
}
#log{
	text-align:center;
	vertical-align:middle;
	height:32px;
	min-height:32px;
	max-height:32px;
}
#log p{
	display:inline;
}
#log h1{
	display:inline;
	color:#FFF;
}
#submitButton{
	display:inline;
	float:right;
	text-align:right;
}
/* input feilds */
#logintable input[type="text"],input[type="password"]
{
	background-image:url(images/inputbgNoFocus.png); 
	border:none; 
	margin: 0px 0px 10px 10px;
	padding: 0px 8px 0px 8px;
	height: 20px;
	width: 218px;
	border-spacing: 0px;
	border-collapse:collapse;
}
#logintable input[type="text"]:focus,input[type="password"]:focus
{
	background-image:url(images/inputbgFocus.png); 
}
/* End Login Box Formatting */

#thbot
{
background-image:url(images/thbottom.png);
overflow:hidden;/* fixes IE height */
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
height: 2px;
border: 0;
width: 100%;
float:left;
}

#thtop
{
background-image:url(images/thtop.png);
overflow:hidden;/* fixes IE height */
padding: 0px 0px 0px 0px;
margin: 0px 0px 0px 0px;
height: 2px;
border: 0;
width: 100%;
float:left;
}

#sideleft
{
	position:fixed;
	background-image:url(images/tableside.png);
	background-repeat:repeat-y;
	min-height:100%;
	width:30px;
	float:left;
	top:0px;
}

#sideright
{
	position:absolute;
	background-image:url(images/tablesideright.png);
	background-repeat:repeat-y;
	min-height:100%;
	width:30px;
	float:right;
	top:0px;
	right:0px;
}

#forum
{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width:100%;
	text-align: center;
	float:left;
	border-width:0px;
	border-style:none;
	border-collapse:collapse;
}
#forum table{
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	width:740px;
	border-width:0px;
	border-collapse:collapse;
	border-style:none;
}
#forum td{
	margin: 0px 0px 0px 0px;
	padding: 7px 0px 7px 0px;
	border-width:0px;
	border-style:none;
	border-collapse:collapse;
	text-align:center;
}
#forum p{
	margin: 0px 0px 0px 10px;
	padding: 0px 0px 0px 0px;
}
#leftspace{
	width: 18px;
}
#rightSpace{
	width: 18px;
}
#topic
{
	width: 350px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	text-align: center;
	border-width:0px;
	border-style:none;
}
#posts
{
	width: 50px;
}
#lastpost
{
	width: 125px;
}
#date
{
	width: 125px;
}

#pages{
	float:left;
	width:700px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
#pages h1{
	width:700px;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
#coninfo
{
	float:left;
	position:relative;
	width:740px;
	height:35px;
	background-image:url(images/thbg.png);
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	background-color: #555;
	font-size: 10pt;
	font-weight: bold;
}
#coninfo p{
	position: absolute;
	display: block;
	float:right;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	bottom:0px;
	right:0px;
}
#content
{
	float:left;
	font-size: 9pt; 
	padding: 20px 20px 20px 20px;
	margin: 0px 0px 0px 0px;
	width:700px;
	line-height:normal;
	text-align:left;
	line-height: normal;	
}
#content p {
	font-size: 9pt; 
	clear:all;
	margin: 0px 0px 0px 0px;
	padding: 0px;
	line-height: 1.2;
}
#content br {
	display:none;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}

#register{
	margin: 0px auto 0px auto;
	padding: 30px 0px 0px 0px;
	text-align: center;
	line-height:1.5;
}
#postarea{
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
	text-align: center;
}

/* Begin flexible intro table */
/* This way. if the with of the left element is defined, the rest of the space is filled by the other td */
#intro{
	width:100%;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	/* border-spacing: 15px; // doesn't work in IE */
	border-left: 15px;
	border-top: 15px;
	border-style: solid;
	border-color: #444;
	float:left;
}
#intro td{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	background-color:#333;	
	border-right: 15px;
	border-bottom: 15px;
	border-style: solid;
	border-color: #444;
}
#greeting{
	background-color:#333;
	text-align:left;
	width:300px;						/* width definition*/
	margin: 0px 0px 0px 0px;
	padding: 15px 15px 15px 15px;
}
#greeting h1{
	text-align:left;
	margin: 0px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
#greeting p{
	text-align:justified;
	margin: 10px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
#filler{
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
